<h2 class="text-center" style="margin-top:50px; margin-bottom: 50px;font-weight: bolder;" >Empleados registrados</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let empleado of empleados">
    <td>{{empleado.nombre}}</td>
    <td>{{empleado.apellido}}</td>
    <td>{{empleado.email}}</td>
    <td><button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Actualizar</button></td>
    <td><button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button></td>
  </tr>
  </tbody>
</table>
